<!doctype html>
<html class="h-100" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="A growing collection of ready to use components for the CSS framework Bootstrap 5">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
  <meta name="author" content="Holger Koenemann">
  <meta name="generator" content="Eleventy v2.0.0">
  <meta name="HandheldFriendly" content="true">
  <title>Stride HTML Template - Frontpage one</title>
  <link rel="stylesheet" href="css/theme.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <style>
    /* inter-300 - latin */
    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: local(''),
        url('./fonts/inter-v12-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-300.woff') format('woff');
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: local(''),
        url('./fonts/inter-v12-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-500.woff') format('woff');
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local(''),
        url('./fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-700.woff') format('woff');
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
  </style>

</head>

<body data-bs-spy="scroll" data-bs-target="#navScroll">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;" color="#545454;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse p-1" id="navbarSupportedContent">
        <ul class="px-4 navbar-nav me-auto mb-2 mb-lg-0 order-lg-first col">
          <li class=" nav-item">
            <a class="nav-link active" aria-current="page" href="principal">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="categories">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sell">Vender</a>
          </li>
          <li class="nav-item dropdown emailNAV">
            <a class="nav-link dropdown-toggle" href="my-profile" id="email_nav" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="cart">Mi carrito</a></li>
              <li><a class="dropdown-item" href="my-profile">Mi perfil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="index.html">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="w-100 overflow-hidden bg-gray-100" id="top">

      <div class="container position-relative">
        <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
          style="background-image: url(img/webp/interior11.webp);">

        </div>
        <div class="row">

          <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
            <h1 class="display-1 fw-bold mt-5">E-mercado!</h1>
            <p class="lead">Tu e-commerce favorito. Compra y vende los mejores productosa al mejor precio.</p>
            <a href="categories" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Todas las categorias</a>
          </div>



        </div>
      </div>

    </div>

    <div class="py-vh-5 w-100 overflow-hidden" id="services">
      <div class="container">
        <div class="row d-flex justify-content-end">
          <div class="col-lg-8" data-aos="fade-down">
            <h2 class="display-6">Categorias destacadas.</h2>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <span class="h5 fw-lighter">01.</span>
            <h3 class="py-5 border-top border-dark">Autos.</h3>
            <p>Los mejores precios en autos 0 kilómetro, de alta y media gama.</p>
            <a id="autos"  class="link-fancy">Ver más
            </a>
          </div>

          <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
            <span class="h5 fw-lighter">02.</span>
            <h3 class="py-5 border-top border-dark">Muebles.</h3>
            <p>Muebles antiguos, nuevos y para ser armados por uno mismo.</p>
            <a id="muebles"  class="link-fancy">Ver más
            </a>
          </div>

          <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
            <span class="h5 fw-lighter">03.</span>
            <h3 class="py-5 border-top border-dark">Juguetes.</h3>
            <p>Encuentra aquí los mejores precios para niños/as de cualquier edad.</p>
            <a id="juguetes" class="link-fancy">Ver más
            </a>
          </div>
        </div>

      </div>
    </div>

  </main>


  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/principal.js"></script>
  <script src="js/init.js"></script>

  <script>
    AOS.init({
      duration: 800, // values from 0 to 3000, with step 50ms
    });
  </script>

  <script>
    let scrollpos = window.scrollY;
    const header = document.querySelector(".navbar");
    const header_height = header.offsetHeight;

    const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm");
    const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm");

    window.addEventListener('scroll', function () {
      scrollpos = window.scrollY;

      if (scrollpos >= header_height) { add_class_on_scroll(); }
      else { remove_class_on_scroll(); }
    })
  </script>

</body>

</html>